body {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #87CEEB;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 5px solid #87CEEB;
    width: 300px;
    height: 400px;
}