@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Passion+One&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family:"Passion One",cursive;
    color: #333;
}
header,
main,
footer {
    
    margin: 10px auto;
    max-width: 760px;
}
header,
footer {
    border: 5px solid  #F8CAEB;
    background-color: #6FC8FA;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 5px;
    color: #fff;
}
header {
    display: flex;
}
header > h1 {
    font-family: "Chivo Mono",curive;
    margin: auto;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
main hr.header-line {margin-top: -15px;
}
main ul li {
    margin-bottom: 10px;
} 

footer {
    text-align: center;
}
