@media only screen and (min-width: 32.5em) and (max-width: 64em) {
    #main {
        grid-template-columns: 50% 50%;
    }
    
    #example2 {
        grid-column: 2;
        
    }
    
    #example3 {
        grid-column: 1/3;
    }
}