@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Passion+One&display=swap');
:root{
    --heading-font: "Passion One";
    --paragraph-font: "Chivo Mono";
}

body {
    line-height: 1.5;
    font-family: var(--paragraph-font); 
}

header {
    margin-bottom: 20px;
    margin: 1.25rem auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
header, footer{
    background-color: #90abedf6;
    color: rgb(9, 9, 9);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    box-shadow: 10px 10px 40px 10px #90abedf6;
    font-family: var(--heading-font);
    margin: 1.25rem auto;
    display: grid;
    grid-template-columns: 1fr;
}
main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

div {
    border-radius: 25px;
    border-style: solid;
}

div h2 {
    background-color: #322d2ff6;
    background-size: cover;
    color: white;
    margin-top: 0px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 98%
}



div p {
    padding: 5px;
    color: whitesmoke;
    font-family: var(--paragraph-font); 

}

img {
    width: 100%;
}

footer {
    color:black;
    margin-top: 20px;
    padding: 5px;
    background-color: #90abedf6;
    box-shadow: 5px 5px 20px 5px #494d53;
    
}

section {
    display: block;
    background-color: #90abedf6;
    margin: 0.5rem;
	border: 1px solid #322d2ff6;
	padding: 0 1rem;
    border-radius: 15px 15px 0px 0px
    

}
section h2, p{
    color: whitesmoke;
}
section h2{
    background-color: #322d2ff6;
}
img, h1 {
    margin: auto;
}

/* table views ******************************/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .third-principle {
        grid-column: span 2;
    }    
}

/* Desktop views ******************************/
@media only screen and (min-width: 68em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .third-principle {
        grid-column: span 1;
    }
}